.episodes {
  margin: 35px auto;
}
.episodes article {
  margin: 35px auto 50px auto;
}
.episodes article:after {
  display: block;
  height: 1px;
  margin-top: 30px;
  content: "";
  border-bottom: 1px solid #f1f1f1;
}

.episode-header {
  text-align: center;
}

.episode-date {
  display: block;
  color: var(--main-font-color);
  font: 0.8em Menlo, Monaco, Lucida Console, Courier New, monospace, serif;
}

.episode-title {
  display: block;
  margin-top: 20px;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  color: var(--main-font-color);
}

.episode-content {
  font-size: 22px;
  line-height: 1.7em;
  color: var(--main-font-color);
}
.episode-content a {
  border-radius: 3px;
  text-decoration: none;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.more-link-header {
  display: block;
  width: 200px;
  padding: 10px 15px;
  margin: 20px auto;
  font-size: 18px;
  color: var(--main-font-color);
  background-color: var(--zofe-yellow);
  text-shadow: none;
  border-radius: 5px;
  border: 2px solid var(--zofe-dark-yellow);
  transition: background-color 0.2s ease-in-out;
}
.more-link-header:hover {
  background-color: var(--zofe-dark-yellow);
  color: var(--main-font-color);
}
.more-link-header .arrow {
  float: right;
}

.more-link {
  display: block;
  width: 200px;
  padding: 10px 15px;
  margin: 20px auto;
  font-size: 18px;
  color: var(--main-font-color);
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: none;
  border-radius: 5px;
  border: 2px solid var(--zofe-yellow);
}
.more-link:hover {
  background-color: var(--zofe-yellow);
  color: var(--main-font-color);
}
.more-link .arrow {
  float: right;
}

@media (max-width: 550px) {
  .episode-title {
    font-size: 0.9em;
  }

  .episode-content {
    font-size: 16px;
    color: #cccccc;
    text-align: center;
  }
}
