.main-menu {
  display: inline-block;
  float: right;
  margin: 15px 0 0 0;
}
.main-menu ul {
  margin-bottom: 0;
}
.main-menu li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 0 1em;
}
.main-menu li a {
  padding: 0 0 5px 0;
  color: var(--menu-font-color);
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: border 0.2s ease-in-out;
}
.main-menu li a:hover, .main-menu li a.active {
  border-bottom: 3px solid var(--zofe-yellow);
}

@media (max-width: 425px) {
  .main-menu {
    display: block;
    float: none;
    text-align: center;
  }
}
