---
layout: default
---

{% include latest-post.html %}

<div class="episodes container">
  {% for post in paginator.posts offset:1 %}
  <article class="row">
    <header class="episode-header">
      <a href="{{ post.url }}" class="episode-date">{{ post.date | date: "%d/%m/%y" }}</a>
      <h2>
        <a href="{{ post.url }}" title="{{ post.title }}" class="episode-title" rel="bookmark">{{ post.title }}</a>
      </h2>
    </header>

    <div class="episode-content">
      {% if post.excerpt_tag %}
        {{ post.excerpt_tag | markdownify }}
        <p><a href="{{ post.url }}" class="more-link">Continue lendo <span class="arrow">→</span></a></p>
      {% else %}
        {{ post.content }}
      {% endif %}
    </div>
  </article>
  {% endfor %}
</div><!-- /#content -->

<section class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="pagination-prev" href="/"><img src="/assets/images/icons/arrow.svg" alt="Episódios mais antigos"></a>
    {% else %}
      <a class="pagination-prev" href="/page{{paginator.previous_page}}"><img src="/assets/images/icons/arrow.svg" alt="Episódios mais antigos"></a>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-next" href="/page{{paginator.next_page}}"><img src="/assets/images/icons/arrow.svg" alt="Episódios mais recentes"></a>
  {% endif %}
</section>
