.episode-header
  padding: 90px 35px
  background-size: cover
  background-position: 0 50%

.episode-content
  margin: 35px auto

.episode-podcast
  background: #efefef
  padding: 50px

  h2
    text-transform: uppercase
    text-align: center
    margin-bottom: 50px

.disqus
  margin: 0 auto

@media (max-width: 550px)
  .episode-podcast
    padding: 25px
