<section class="about">
  <div class="section-content">

    <h3 class="about-title">Sobre</h3>

    <p class="about-description">
    Podcast com enfoque no desenvolvimento front-end da web. Sempre trazendo novidades, entrevistas, eventos e multiplicando conhecimento.
    Este podcast é apresentado por <a href="https://twitter.com/danielfilho">Daniel Filho</a> e co-apresentado por <a href="https://twitter.com/almirfilho">Almir Filho</a>, <a href="https://twitter.com/caio_gondim">Caio Gondim</a> e
    <a href="https://twitter.com/rafaelrinaldi">Rafael Rinaldi</a>.
    </p>

    <ul class="about-members">
      {% for member in site.members %}
      <li class="avatar">
        <a class="avatar-link" href="{{ member.url }}" target="_blank">
          <img class="avatar-image" src="{{ member.image }}" alt="{{ member.name }}" />
          <p class="avatar-name">{{ member.name }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>
</section>
