<footer class="footer">
  <div class="footer-nav-container container">
    <div class="footer-nav row">
      <div class="footer-social three columns column">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="http://zofe.com.br/feed/posts.xml">
              <img
                src="/assets/img/social-icons/rss.svg"
                class="footer-social-item-icon"
              >
            </a>
          </li>
          <li class="footer-social-item">
            <a href="http://twitter.com/zofepod">
              <img
                src="/assets/img/social-icons/twitter.svg"
                class="footer-social-item-icon"
              >
            </a>
          </li>
          <li class="footer-social-item">
            <a href="http://facebook.com/zofepod">
              <img
                src="/assets/img/social-icons/facebook.svg"
                class="footer-social-item-icon"
              >
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://plus.google.com/b/115076765574849677369/115076765574849677369">
              <img
                src="/assets/img/social-icons/google-plus.svg"
                class="footer-social-item-icon"
              >
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-feeds six columns column">
        <h6 class="footer-feeds-title">Feeds</h6>
        <ul class="footer-feeds-list">
          <li class="footer-feed-item">
            <a
              href="http://zofe.com.br/feed/podcast.xml"
              class="footer-feed-link"
              title="Podcast (AAC/M4A)"
            >
              Podcast (AAC/M4A)
            </a>
          </li>
          <li class="footer-feed-item">
            <a
              href="itpc://zofe.com.br/feed/podcast.xml"
              class="footer-feed-link"
              title="Podcast (iTunes)"
            >
              Podcast (iTunes)
            </a>
          </li>
          <li class="footer-feed-item">
            <a
              href="http://zofe.com.br/feed/posts.xml"
              class="footer-feed-link"
              title="Posts"
            >
              Posts
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-support three columns column">
        <h6 class="footer-support-title">Apoio</h6>
        <a href="http://braziljs.org" class="footer-support-link">
          <img
            src="/assets/img/braziljs-logo.png"
            class="footer-support-logo"
            alt="BrazilJS"
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-wrapper">
    <div class="footer-copyright-container container">
      <div class="row">
        <p class="footer-copyright twelve columns">
          © 2015 Zone of Front-enders
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="/assets/js/vendor/jquery/dist/jquery.min.js"></script>
<script src="https://w.soundcloud.com/player/api.js"></script>
<script src="/assets/js/timeJump.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/progress-tracker.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-66092-27']);
  _gaq.push(['_setDomainName', 'zofe.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.dnl.pw/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://stats.dnl.pw/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
