<footer id="footer" class="clearfix">
  
    <ul class="credit">
      <li class="footer social-media">
        <ul>
          <li>tweeter</li>
          <li>Facebook</li>
          <li>Google Plus</li>
        </ul>
      </li>
      <li class="footer feed">
        <h3 class="widget-title">Feeds</h3>
        <ul class="xoxo blogroll">
          <li><a href="http://zofe.com.br/feed/podcast.xml" title="Podcast (AAC/M4A)">Podcast (AAC/M4A)</a></li>
          <li><a href="itpc://zofe.com.br/feed/podcast.xml" title="Podcast (iTunes)">Podcast (iTunes)</a></li>
          <li><a href="http://zofe.com.br/feed/posts.xml" title="Posts">Posts</a></li>
        </ul>
      </li>
      <li class="footer sponsors">
        <h3 class="widget-title">Apoio</h3>
        BrasilJS
      </li>
    </ul> 

</footer>
<aside class="copyright">
  &copy; 2012 Zone Of Front-Enders
</aside>


<script src="/assets/js/jquery.js"></script>
<script src="//polyfill.io"></script>
<script src="/assets/js/timeJump.js"></script>
<script src="/assets/js/scripts.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-66092-27']);
  _gaq.push(['_setDomainName', 'zofe.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
