{% for post in paginator.posts limit:1 %}
<div class="latest-post" style="background-image: url({{ post.mosaico }})">
  <article>
    <header class="latest-post-header">
      <a href="{{ post.url }}" class="latest-post-date">{{ post.date | date: "%d/%m/%y" }}</a>
      <h2>
        <a href="{{ post.url }}" title="{{ post.title }}" class="latest-post-title" rel="bookmark">{{ post.title }}</a>
      </h2>
    </header>

    <div class="latest-post-content">
      {% if post.excerpt_tag %}
        {{ post.excerpt_tag | markdownify }}

        <p>
          <a href="{{ post.url }}" class="latest-post-more">Continue lendo <span class="arrow">→</span></a>
        </p>
      {% else %}
        {{ post.content }}
      {% endif %}
    </div>
  </article>
</div><!-- end #header -->
{% endfor %}
