<section id="sobre">
	<aside class="widget widget_meola_about">
    <div class="widget-wrap">
      <h3 class="widget-title">Sobre</h3>
      <div class="about-image-wrap">
        <img src="/assets/img/danielfilho-zeno.png" width="450" height="200" class="about-image">
        <p class="about-image-caption">Daniel Filho e Zeno Rocha</p>
      </div><!-- end .about-image-wrap -->
      <div class="about-text-wrap">
        <p class="about-text">Podcast com enfoque no desenvolvimento front-end da web. Sempre trazendo novidades, entrevistas, eventos e multiplicando conhecimento. Este podcast é apresentado por Daniel Filho e Zeno Rocha.</p>
      </div><!-- end .about-text-wrap -->
    </div>
  </aside>
</section>