body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.meta {
  padding: 2em;
}

.main {
  background: #ffffff;
  width: 60%;
}

.meta {
  width: 25%;
  height: 100%;
  position: sticky;
  top: 2em;
}
