* {
  box-sizing: border-box;
}

:root {
  --mobile-size: '480px';
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-size: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.meta {
  padding: 2em;
}

.main {
  background: #ffffff;
  width: 70%;
}

.meta {
  max-width: 30%;
  height: 100%;
  padding: 2em;
  position: sticky;
  top: 2em;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .meta {
    justify-content: center;
    max-width: 100%;
    position: static;
  }

  .meta .zofe-logo {
    max-width: 30%;
    min-width: 150px;
  }

  .main {
    width: 100%;
  }
}
