ul, li {
  list-style: none;
  margin-top: 30px;
  font-size: 0;
}

.about-members .avatar {
  display: inline-block;
  margin: 0 10px;
}

.social-networks {
  padding: 0;
}

.social-networks li {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 20%;
}

.social-icon {
  display: block;
  max-width: 50px;
}
