.entry-header {
  text-align: center;
  margin: 35px auto 0 auto;
}

.entry-title {
  text-transform: uppercase;
}

.contact-form {
  border-bottom: 2px solid #E6E6E6;
}

.contact-form-fields-list {
  list-style-type: none;
}

.contact-form-message-field {
  resize: vertical;
  height: auto;
}

.input-field {
  width: 100%;
}

.hide {
  display: none;
}
