.episode-header {
  padding: 17px 35px 5px;
  background-size: cover;
  background-position: 0 50%;
}

.episode-content {
  margin: 35px auto;
}
.episode-content .post-link {
  color: #EACD15;
}
.episode-content .post-link:hover {
  color: #1EAEDB;
}
.episode-content .timer {
  background: #ECECEC;
  color: #818181;
  padding: 3px 15px;
}
.episode-content .timer.time-selected {
  background: #333;
  color: var(--zofe-yellow);
  transition: background 0.2s ease-in-out;
}
.episode-content .timer:hover {
  color: var(--zofe-yellow);
}
.episode-content .timer-title {
  background: #EACD15;
  color: #897700;
  padding: 3px 15px;
}
.episode-content .timer-title:hover {
  color: #000;
}

.episode-podcast {
  background: #efefef;
  padding: 50px;
}
.episode-podcast h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.disqus {
  margin: 0 auto;
}

@media (max-width: 550px) {
  .episode-podcast {
    padding: 25px;
  }
}
