.no-underline,
.no-underline:hover {
  border-bottom: 0 none;
}

.zofe-logo,
.zofe-logo:hover {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.main-links {
  margin-bottom: 32px;
}

.main-links li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.main-links a {
  border-bottom-width: 0;
}

.main-links a:hover {
  border-bottom-width: 3px;
}

.social-list {
  margin-bottom: 32px;
}

.social-icon {
  display: block;
  max-width: 50px;
}

footer-feeds-list {
  margin: 0;
}

.footer-feeds-list a {
  font-size: calc(1rem - 3px);
  border-bottom: 0;
}

.footer-feed-item {
  margin: 0 0 5px 0;
  padding: 0 0 0 12px;
}
