.no-underline,
.no-underline:hover {
  border-bottom: 0 none;
}

.zofe-logo,
.zofe-logo:hover {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.zofe-logo svg {
  height: auto;
  fill: #d6b204;
}

.main-links {
  margin-bottom: 1.5rem;
}

.main-links li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.main-links a {
  border-bottom-width: 0;
}

.main-links a:hover {
  border-bottom-width: 3px;
}

.social-list {
  margin-bottom: 1.5rem;
}

.social-icon {
  display: block;
  max-width: 50px;
}

.social-icon svg {
  max-width: 50px;
  height: auto;
}

footer-feeds-list {
  margin: 0;
}

.footer-feeds-list a {
  font-size: calc(1rem - 3px);
  border-bottom: 0;
}

.footer-feed-item {
  margin: 0 0 5px 0;
  padding: 0 0 0 12px;
}

.footer-feed-item:after,
.footer-feed-item:first-child:before {
  content: '\B7';
  display: inline-block;
  width: 5px;
  height: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #661111;
  margin-left: 0.5rem;
}
.footer-feed-item:first-child:before {
  margin-right: 0.5rem;
}
