---
layout: default
---

<article>

  <aside class="entry-details">
    <a href="{{ page.url }}" class="entry-date">{{ page.date | date: "%d/%m/%y" }}</a>
  </aside>

  <header class="entry-header">
    <h2 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a></h2>
  </header>

  <div class="entry-content clearfix">
    {{ content }}

    <div id="soundcloud-player">{{ page.soundcloud-player }}</div>

  </div>

  <footer class="entry-meta">
    {% include disqus.html %}
  </footer>

</article>
