@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply zofe-scrollbar;
  }

  html.dark {
    @apply dark-zofe-scrollbar;
  }

  h1,
  h2 {
    margin-bottom: 2rem;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  p {
    margin-bottom: 3ch;
  }
  .content a {
    @apply text-red-800;
    @apply border-b-2;
    @apply border-zofe;
    @apply font-semibold;
  }
  .content a:hover {
    @apply border-b-4;
  }
  .dark .content a {
    @apply text-yellow-200;
    @apply border-red-800;
  }
}

@layer utilities {
  .w-read {
    width: 80ch;
  }

  .pancake-stack {
    grid-template-rows: auto 1fr auto;
  }

  .liquid-gap {
    grid-gap: 1fr;
  }

  .dark-zofe-scrollbar {
    scrollbar-color: rgb(102, 102, 102) rgb(32, 28, 41);
  }

  .dark .zofe-scrollbar {
    @apply dark-zofe-scrollbar;
  }

  .zofe-scrollbar {
    scrollbar-color: rgb(72, 68, 81) rgb(230, 230, 230);
  }

  .main-container {
    @apply w-read m-auto
  }

  .shine-filter-2xl {
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.25));
  }
}

.main > div {
  transition: background-color .3s ease-out,
              color .5s ease-out;
}