@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply zofe-scrollbar;
  }

  html.dark {
    @apply dark-zofe-scrollbar;
  }

  h1,
  h2 {
    margin-bottom: 2rem;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  p {
    margin-bottom: 3ch;
  }

  .episodePlayer {
    left: calc(theme('spacing.24') + theme('spacing.96'));
    width: calc(100% - 25px - theme('spacing.24') - theme('spacing.96'));
  }
  .content a {
    @apply text-red-800 font-semibold transition-all duration-500 ease-in-out;
    text-decoration: underline;
    text-decoration-color: #E9D160;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;

  }

  .content a:hover {
    text-decoration-thickness: 4px;
    text-decoration-color: #991B1B; /* text-red-800 */
  }

  .dark .content a {
    @apply text-zofe;
    text-decoration-color: #991B1B;
  }
}

@layer utilities {
  .w-read {
    max-width: calc(theme('spacing.96') * 2.5);
  }

  .logo-fill {
    top: 1px;
    left: 1px;
    width: calc(theme('spacing.16') - 2px);
    height: calc(theme('spacing.16') - 2px);
  }

  .content-height-mobile {
    height: calc(100vh + 90px);
  }

  .pancake-stack {
    grid-template-rows: auto 1fr auto;
  }

  .liquid-gap {
    grid-gap: 1fr;
  }

  .dark-zofe-scrollbar {
    scrollbar-color: rgb(102, 102, 102) rgb(32, 28, 41);
  }

  .dark .zofe-scrollbar {
    @apply dark-zofe-scrollbar;
  }

  .zofe-scrollbar {
    scrollbar-color: rgb(72, 68, 81) rgb(230, 230, 230);
  }

  .main-container {
    @apply w-read m-auto
  }

  .shine-filter-2xl {
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.25));
  }
}

.main > div {
  transition: background-color .3s ease-out,
              color .5s ease-out;
}