@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2 {
    margin-bottom: 2rem;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  p {
    margin-bottom: 3ch;
  }
  .content a {
    @apply text-red-800;
    @apply border-b-2;
    @apply border-zofe;
    @apply font-semibold;
  }
  .content a:hover {
    @apply border-b-4;
  }
  .dark .content a {
    @apply text-yellow-200;
    @apply border-red-800;
  }
}

.main > div {
  transition: background-color .3s ease-out,
              color .5s ease-out;
}